ops-review: do we need to reference some new documents

What of the new RFCs published since this -bis was worked on?  I see the latest
reference is RFC 9096 but it would seem good to include pointers to RFC 9243
and RFC 9686 in this document.

The omission of RFC 9243 does highlight there’s nothing in the document about
management of DHCPv6 servers, relays or clients.  Perhaps a short section could
be added that points to this RFC?

RFC 9686 could perhaps be a model of use for DHCPv6 for section 6?  You can use
this self-registration scheme without using DHCPv6 to provide addresses or
prefixes.

There is also the very good work on a “prefix per host” using DHCP-PD for hosts
- we should include a pointer to RFC 9663 here and cite it?  Perhaps in Section
6 on operational models?

RFC 9686: Registering Self-Generated IPv6 Addresses Using DHCPv6
RFC 9096: Improving the Reaction of Customer Edge Routers to IPv6 Renumbering Events
RFC 9243: A YANG Data Model for DHCPv6 Configuration


Section 3

Maybe add a 4th RFC to the list to read - RFC8504? (not that I’m biased, but it
is a good reference :)

Section 6.3

Para 3 - might need updating now RFC 9663 exists?


Including PD-per-host (9663), or these other documents would go against goal of Internet Standard.


I think we should add all of them as informative references. I'm not sure why this was closed as `wontfix`. Opened #57.

Addressed in #57 - added 9686, (9096 was already added by some earlier PR), 9243.