Mohamed Boucadair - new minor nits from -10

I checked diff 09/10. I really like the changes. FWIW, some minor “things” I
sport when reviewing the changes:

# Section 1.3: More accurate scope of 9243

OLD: One possible way to manage a DHCPv6 server is proposed in [RFC9243]

NEW: An approach to manage DHCPv6 relays and servers is specified  in [RFC9243]

# Section 5

## ALL_DHCP_Relay_Agents_and_Servers

Consider changing it to All_DHCP_Relay_Agents_and_Servers :-)

## Naturally inherit whatever updates will be made to RFC8085

OLD: and BCP 145 [RFC8085]

NEW: and [BCP145]

## Help readers find where DHCP multicast addresses are defined

For example, consider the following change:

OLD: All_DHCP_Relay_Agents_and_Servers multicast address

NEW: All_DHCP_Relay_Agents_and_Servers multicast address (Section 7.1)

# Section 6.5: nit

OLD: To meet the recommendations of [RFC7934], A client

NEW: To meet the recommendations of [RFC7934], a client

# Section 6.6

## nit

OLD: [RFC9686] introduced a method

NEW: [RFC9686] introduces a method

## minor edit

OLD: The major difference between other use cases and this is

NEW: The major specificity of this mechanism is

# Section 18.2.6: Use the correct option name

OLD: The relay SHOULD insert a Client Link-Layer option

NEW: The relay SHOULD insert a Client Link-Layer Address option

Thank you again for your effort on the maintenance of this important piece.

Cheers,
Med

I think we should make all these changes.