Pre-10 release review comments (Bernie)

Title of section 1.3 doesn’t follow capitalization rules, should be “Topics Out of Scope”.

Title of section 23.4 might better be “Mitigation Considerations” to match other 23.x sections?

In section 3, the sentence “The topic of renumbering is discussed in [RFC9096].” was added. I don’t think this is appropriate here as this a background section which discussed IPv6 concepts. I think deleting this is best. We already have text in section 6.3 which provides multiple references to this RFC, so I don’t think we need more text? If you want some, maybe adding the following in 6.4 to replace the first sentence is one choice: “The DHCP requirements and network architecture for Customer Edge Routers are described in [RFC7084], with improvements for renumbering described in [RFC9096].”

BTW: There’s a further reference to 9096 in 5.3 related to Reconfigure. So likely we have this covered very well, even without adding the above to 6.4?

In 6.2, we had:

   The model of operation for non-temporary address assignment is as
   follows.  The server…

This was changed to:

   The model of operation for non-temporary address assignment is as
   follows: The server…

But in 6.3, a similar change was not made … we should be consistent.

However, I also think the change isn’t really good as the next sentence doesn’t describe the full model … it is in really the remaining sentences. To fix this, it might be good to add an enumerated list which is each of the sentences that follows “follows:”.

Please take a look and let’s discuss best fix.

In Section 6.2, reference to 12.1 was added for lifetimes, similar change was not made (reference to 12.2) in section 6.3. Should be done - Each prefix has an associated… (see Section 12.2).

In Section 6.5, a reference to 7934 was added and I think it is in a bad place.

   A client can explicitly request multiple addresses by sending
   multiple IA_NA options.  A client can send multiple IA_NA options in
   its initial transmissions ([RFC7934]).  Alternatively, it can send an
   extra Request message with additional new IA_NA options (or include
   them in a Renew message).

How about:

   To meet the recommendations of [RFC7934] for multiple addresses,
   a client can explicitly request multiple addresses by sending
   multiple IA_NA options.  A client can send multiple IA_NA options in
   its initial transmissions.  Alternatively, it can send an extra
   Request message with additional new IA_NA options (or include them in
   a Renew message).

In new 6.6 section, “The [RFC9686]” is odd. Remove the? And I still hate that there is text about updating DNS, routing tables… none of this is mentioned in that document. We MUST remove this!!! 

I think we just say “so that the server can log or record these addresses”. Please!!

In section 5.1 and 18 we basically have similar text:

   A DHCP client that does not need to have a DHCP server assign IP
   addresses or delegated prefixes to it can obtain configuration
   information such as a list of available DNS servers [RFC3646] or NTP
   servers [RFC5908] through a single message and reply exchange with a
   DHCP server.  To obtain 

In 18,  “(As originally described in [RFC3736]).” was added. Perhaps thus should be in 5.1 (too)? And wouldn’t it be better not to have this be a standalone sentence but part of the first (as originally described…).

In 18.2.6, something went bad with edit? First paragraph:

   The client uses an Information-request message to obtain
   configuration information without having addresses and/or delegated
   prefixes assigned to it without using DHCPv6 to request addreses or
   prefixes.

Huh? I’m not even sure what intent of this change was. Original sentence seemed clear?

In new 23.1 section, last paragraph, add the and lowercase R in Reconfigure: “…support the reconfigure mechanism” (3 other places use lowercase). Similar fix in 23.2, last paragraph.

Finally, we haven’t kept up Appendix A with summary of changes. Perhaps we want to add a catch-all … “5. Several additional RFCs have been referenced and editorial changes from various reviews have been incorporated.”?


I’d prefer we get this version correct and wait a bit longer for proper reviews before we publish.There may also be an argument that at this late date, better to wait until after IESG meeting on May 8 to update? They may be annoyed to get an update so close to meeting and having to review the changes?- Bernie (from iPad)On May 6, 2025, at 10:05 AM, Tomek Mrugalski ***@***.***> wrote:﻿
tomaszmrugalski left a comment (dhcwg/rfc8415bis#65)
I'm OK with any changes (on top of mine or reverting them or whatever). Stuck in meetings, so pls do whatever you feel is right.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

Bernie Volz ***@***.***> wrote:
    > They may be annoyed to get an update so close to meeting and having to
    > review the changes?

Depends upon the AD.
Some like instant gratification.
Some prefer one diff for everything.  You can't please everyone.
Most are satisfied if there is a PR addressing their concerns.

