ops-review: nits/edits suggested

Section 1

Para 3, delete “using DHCPv6”.

Para 4 - “much smaller” - not sure “smaller” is the right word.

Section 5

Para 1 - insert “source” to read “link-local source address”

Section 6.2

Para 2 - is that “allocate” or “assign”?  It’s presumably for use, and later
on, e.g., in 18.2.6 we say “assign”.

Para 3 - I don’t think preferred or valid lifetimes have been defined or cited
before this point.  I see it explained in 12.1 via a pointer to RFC 4862, but
that’s way after this first use.

Section 6.5

Can we point to RFC 7934 here as extra rationale for multiple addresses /
prefixes being provided?

Section 18.2.6

Para 1 - maybe say “without using DHPCv6 to request addresses or prefixes”?


Section 19

Could be handy to have RFC 6939 mentioned in here?


Section 22

“third parts” -> “third party”

Appendix A

Somehow I feel these aren’t all the changes?



