Ketan Talaulikar - remove material & references to pre-8415 RFCs

These set of comments are about removing references to RFCs incorporated and obsoleted by 8415 and removing background material. Line numbers reference -09 draft.

274	1.1.  Relationship to Previous DHCPv6 Standards

276	   The initial specification of DHCPv6 was defined in [[RFC3315](https://datatracker.ietf.org/doc/rfc3315/)], and a
277	   number of follow-up documents were published over the years:

<major> I see that this document is trying to carry forward history prior
to [RFC8415](https://datatracker.ietf.org/doc/rfc8415/) about DHCPv6 specifications. I find this concerning since it asks
the reader to go back to those old and obsoleted documents when reading this
brand new RFC. My concern is that it has the potential to at worst confuse and
at best waste time of someone trying to implement DHCPv6 afresh. Especially, 
given that this is moving to Internet Standard, I would like to discuss if
there are any problems in removing all references to the obsoleted documents
other than [RFC8415](https://datatracker.ietf.org/doc/rfc8415/) itself.

The reader could be pointed to [RFC8415](https://datatracker.ietf.org/doc/rfc8415/) section 1.1 for history (just as done 
for IA_TA).


311	1.2.  Relationship to DHCPv4

313	   The operational models and relevant configuration information for
314	   DHCPv4 [[RFC2131](https://datatracker.ietf.org/doc/rfc2131/)] [[RFC2132](https://datatracker.ietf.org/doc/rfc2132/)] and DHCPv6 are sufficiently different that
315	   integration between the two services is not included in this
316	   document.  [[RFC3315](https://datatracker.ietf.org/doc/rfc3315/)] suggested that future work might be to extend
317	   DHCPv6 to carry IPv4 address and configuration information.  However,
318	   the current consensus of the IETF is that DHCPv4 should be used
319	   rather than DHCPv6 when conveying IPv4 configuration information to

<major> The above text may be harmful to new implementations of DHCPv6. If the
WG has taken the decision to not use it for IPv4, then isn't now the
time to clarify this aspect before this moves to Internet Standard? If I were
implementing DHCPv6 currently, would I design and write code expecting that at
some point, my implementation would need to support IPv4 as well? Or, can
the spec provide definitive clarity to implementors on such aspects and not
carry forward these uncertainties?


793	6.1.  Stateless DHCP

795	   Stateless DHCP [[RFC3736](https://datatracker.ietf.org/doc/rfc3736/)] can be used at any time, typically when a
796	   node requires some missing or expired configuration information that
797	   is available via DHCP.

<major> [RFC8415](https://datatracker.ietf.org/doc/rfc8415/) obsoleted [RFC3736](https://datatracker.ietf.org/doc/rfc3736/). This document obsoletes [RFC8415](https://datatracker.ietf.org/doc/rfc8415/). Why do we 
still need to reference [RFC3736](https://datatracker.ietf.org/doc/rfc3736/) for this term. Perhaps we should have a forward 
reference to section 6.1 of this document instead? Please see similar comments
for a few other references to obsoleted RFCs.


836	6.3.  DHCP for Prefix Delegation

838	   The prefix delegation mechanism, originally described in [[RFC3633](https://datatracker.ietf.org/doc/rfc3633/)],

<major> Isn't the reference to [RFC3633](https://datatracker.ietf.org/doc/rfc3633/) that has been obsoleted to the 2nd
degree avoidable?


1009	7.1.  Multicast Addresses

1011	   [[RFC3315](https://datatracker.ietf.org/doc/rfc3315/)] registered the following multicast addresses, and this
1012	   specification is now authoritative for:

<major> The reference to [RFC3315](https://datatracker.ietf.org/doc/rfc3315/) is outdated and incorrect. The IANA registry
points to [RFC8415](https://datatracker.ietf.org/doc/rfc8415/). What does it mean "now authoritative for"? That was perhaps
appropriate for [RFC8415](https://datatracker.ietf.org/doc/rfc8415/), but seems very odd for this document.


2316	18.1.  A Single Exchange for Multiple IA Options

2318	   This document assumes that a client SHOULD use a single transaction
2319	   for all of the IA options required on an interface; this simplifies
2320	   the client implementation and reduces the potential number of
2321	   transactions required (for the background on this design choice,
2322	   refer to Section 4 of [[RFC7550](https://datatracker.ietf.org/doc/rfc7550/)]).  To facilitate a client's use of a

<major> Isn't the reference to [RFC7550](https://datatracker.ietf.org/doc/rfc7550/) that has been obsoleted to the 2nd
degree avoidable?


3933	19.1.  Relaying a Client Message or a Relay-forward Message

3935	   A relay agent relays both messages from clients and Relay-forward
3936	   messages from other relay agents.  When a relay agent receives a
3937	   Relay-forward message, a recognized message type for which it is not
3938	   the intended target, or an unrecognized message type [[RFC7283](https://datatracker.ietf.org/doc/rfc7283/)], it

<major> Isn't the reference to [RFC7283](https://datatracker.ietf.org/doc/rfc7283/) that has been obsoleted to the 2nd
degree avoidable?


4790	21.11.  Authentication Option

4792	   The Authentication option carries authentication information to
4793	   authenticate the identity and contents of DHCP messages.  The use of
4794	   the Authentication option is described in Section 20.  The delayed
4795	   authentication protocol, defined in [[RFC3315](https://datatracker.ietf.org/doc/rfc3315/)], was obsoleted by
4796	   [[RFC8415](https://datatracker.ietf.org/doc/rfc8415/)].  The format of the Authentication option is:

<major> If this is something that was already obsoleted by [RFC8415](https://datatracker.ietf.org/doc/rfc8415/), why is it
even present in this document

I think we can remove references to 3315, 3736, 3633, 7550, 7283, 7083, and 4242. Lots of text changes (mostly dropping references).

And, drop most of 1.1 (keep last paragraph), drop 1.2, and 3.

Likely drop “requesting router”/“delegating router” now too.

I've distributed a version to compare and discuss (in the branch). This also includes a bunch of other minor fixes (typos, acknowledgements update, ...) - so I'm hopeful we can commit it

BTW: As this has a lot of changes, it may be best to hold off on merging other things on main until we decide to go with this or not to keep merge simpler (but perhaps git can deal with it).

On 5/12/25, Ketan emailed:

Hi Bernie,

Thanks for sharing this diff. It looks good to me and does take care of removing all the obsolete references. In doing so, you (authors) have brought it up to date with the current status which is very much appreciated.

Thanks,
Ketan
